.footer{
    width: 1440px;
    height: 50px;
    background: rgb(220, 228, 114);
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    h4{
        color: brown;
    }

    .me{
        position: fixed;
        margin-left: 1200px;
        color: rgb(90, 90, 90);
    }
}