header
    .header-top
        .logotip
            p DREAMSHARE
        .log
            .log-in
                button Log in
            .sing-up
                button Sign up
    .header-bottom
        h1
            | SHARE YOUR 
            br
            |  HOLIDAY DREAM
        p And find the perfect partner to fullfill it
        button Find your holiday partner
