section
    h2 How Dreamshare works?
    .dreamshare
        .step1
            button STEP 1
            h3
                | Sed leo enim, 
                br
                |  condimentum
            p
                | Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.
        .step2
            button STEP 2
            h3 Morbi velit risus
            p
                | Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.
        .step3
            button STEP 3
            h3
                | Sed leo enim, 
                br
                |  condimentum
            p
                | Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.
section
    h2 Meet a partner for your best holiday
    .partner
        .people
            .image
                img(src='../../images/Avatar 2.png' alt='')
            .text
                h4 Bradley Hunter
                p Based in Chicago. I love playing tennis and loud music.
        .people
            .image
                img(src='../../images/Avatar 1.png' alt='')
            .text
                h4 Marie Bennett
                p Currently living in Colorado. Lover of art, languages and travelling.
        .people
            .image
                img(src='../../images/Avatar 3.png' alt='')
            .text
                h4 Marie Bennett
                p
                    | Living in Athens, Greece. I love black and white classics, chillout music and green tea.
        .people
            .image
                img(src='.../../images/Avatar.png' alt='')
            .text
                h4 Marie Bennett
                p Star Wars fanatic. I have a persistent enthusiasm to create new things.
    button See other partners
section
    h2 Discover holiday activity ideas
    .holiday1
        .img1
            h2 Sports and Activis
        .img2
            h2 Wellness and Health
        .img3
            h2
                | Extreme Sports
                | and Expeditions
    .holiday2
        .img21
            h2 Games
        .img22
            h2 Culture and Education
    .holiday3
        .img31
            h2 Enjomet and Relaxation
        .img32
            h2 Trevelling
section
    h2 Crate your holiday activity
    p Hi! What are your holiday interests?
    .search
        input(type='text' placeholder='Enter your insterests')
        button Search partners
