.box1{
    width: 200px;
    margin: 0 auto;
}
.box-btn{
    display: flex;
    justify-content: space-around;
}
.increment{
    width: 50px;
    height: 30px;
    background: rgb(19, 145, 19);
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.decrement{
    width: 50px;
    height: 30px;
    background: rgb(196, 7, 7);
    color: white;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
    cursor: pointer;
}
.text1{
    text-align: center;
    font-size: 50px;
    color: rgb(28, 83, 202);
    border: 1px solid;
    border-radius: 50%;
}